html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.footer h3 {
  margin: 0 0 8px;
}

.footer p {
  margin: 5px;
}